* {
    box-sizing: border-box;
}

body {
    background-color: purple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.end {
    background-color: brown;
    padding: 8px 15px;
    border-radius: 15px;

}
.btn {
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
}
.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}